* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #367a39;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
    transition: none;
}

.navbar .logo:hover {
    background-color: transparent;
}


.navbar .nav-links {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #3e8e41;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #367a39;
}

.content {
    padding: 20px;
}

.hero {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #4CAF50;
    color: white;
}

.table-header th {
    padding: 12px;
    text-align: left;
}

.table-row:hover {
    background-color: #f1f1f1;
}

.table-row td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.empty-message {
    text-align: center;
    font-size: 1.2em;
    color: #777;
    margin-top: 20px;
}

.disabled-option {
    color: gray;
    background-color: #f2f2f2;
}